<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @from_arduino.value %>
</p>

<%= link_to 'Edit', edit_from_arduino_path(@from_arduino) %> |
<%= link_to 'Back', from_arduinos_path %>
